td > a
  float: right
  margin-top: -8px
  margin-right: -8px
  cursor: pointer

#editClassModal
  height: 438px
  .modal-body
    height:
      300px
    form
      margin: 0px
    .control-group:last-of-type
      margin-bottom: 0px
    .add-group
      a
        width: 193px
    ul.dropdown-menu
      overflow: auto
      li
        margin
          right: 15px
        a
          width: auto
          i
            float: right
            color: #5FEB3B
            visibility: hidden
        a:hover
          cursor: pointer
      .search-container
        display: list-item
        input
          width: 88%
        i
          color: #AC9999
          margin-top: -21px
          position: relative
          float: right
          margin-right: 8px

      li.checked
        display: none

    .control-group:nth-of-type(1)
      ul
        max-height: 271px
    .control-group:nth-of-type(2)
      ul
        max-height: 221px
    .control-group:nth-of-type(3)
      ul
        max-height: 171px
    .radio.inline.control-label
    // .control-label
      text-align: left
      width: auto
