.nav
  li
    margin
      right: 15px
    a
      width: auto
      i
        float: right
        color: #5FEB3B
        visibility: hidden
    a:hover
      cursor: pointer
  .search-container
    display: list-item
    i
      color: #AC9999
      margin-top: -21px
      position: relative
      float: right
      margin-right: 8px

  li.checked
    i
      visibility: visible
